<div class="menu">
  <div class="container d-flex justify-content-between">
    <ul class="list left">
      <li><a [routerLink]="['/admin/categorie']">Categorieën</a></li>
      <li><a [routerLink]="['/admin/subcategorie']">Subcategorieën</a></li>
      <li><a [routerLink]="['/admin/merken']">Merken</a></li>
      <li><a [routerLink]="['/admin/producten']">Producten</a></li>
    </ul>

    <ul class="list right">
      <li><a [routerLink]="['/admin/gebruikers']">Gebruikers</a></li>
      <li><a [routerLink]="['/admin/bestellingen']">Bestellingen</a></li>
    </ul>
  </div>
</div>
