<header class="header fixed-top p-0">
  <div class="container d-flex  justify-content-between">
    <a class="navbar-brand align-self-end" routerLink="/">
      <img src="/assets/images/logo.svg" alt="PCPARTS" width="189" height="33">
    </a>

    <ul class="list-inline m-0 d-flex">
      <li class="list-inline-item align-self-end">Inloggen</li>
      <li class="list-inline-item align-self-end">
        <app-shoppingcart></app-shoppingcart>
      </li>
    </ul>
  </div>
</header>
<div class="header-filler"></div>

<nav class="navbar">
  <div class="container">
    Componenten
  </div>
</nav>
