@import "~bootstrap/scss/bootstrap-grid";

.cart-container {
  padding: 10px 10px 10px 0;

  @include media-breakpoint-down(lg) {
    margin: 0 0 10px 0;
    padding: 0;
  }

  .cart {
    background-color: var(--fill-colour);

    border: 1px solid #d7e5f4;
  }

}

.order-container {
  padding: 10px 0 10px 10px;

  @include media-breakpoint-down(lg) {
    margin: 0;
    padding: 0;
  }

  .order {
    padding: 10px;

    background-color: var(--fill-colour);
    border: 1px solid #d7e5f4;
  }

}


.cart-row {
  .image {
    display: block;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .product-name {
    h4 {
      margin-bottom: 0;
    }
  }

  .amount {
    display: block;


    .left-btn {
      border-radius: 4px 0 0 4px;
      float: left;
    }

    .right-btn {
      border-radius: 0 4px 4px 0;
      float: left;
    }

    .left-btn, .right-btn {
      @include media-breakpoint-down(md) {
        padding: 6px 8px;
      }
    }

    .amount-value {
      border-radius: 0;
      width: 55px;
      float: left;
    }

  }

  padding: 10px;
  border-bottom: 1px solid #d7e5f4;
  &:last-child {
    border-bottom: none;
  }
}


.order-btn {
  display: block;

  padding: 10px 0;

  a {
    &.disabled {
      opacity: 0.65;
    }

    cursor: pointer;
    border-radius: 3px;
    padding: 10px;
    background-color: var(--success-colour);
    font-weight: 600;
    color: var(--fill-colour);
    border-bottom: 2px solid darken(#07cd6e, 7);

    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -ms-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;

    &:hover {
      background-color: darken(#07cd6e, 7);
      border-bottom: 2px solid darken(#07cd6e, 20);
      text-decoration: none;
    }
  }
}
