<div class="container">
  <div class="row">
    <app-banner [title]="'PCPARTS'"></app-banner>
  </div>

  <div class="row content">
    <h4>Professionals in hardware</h4>

    <div class="row">
      <div class="col-12 col-md-6 intro-container">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis tempor felis ac semper. Duis
          congue odio vitae neque sagittis pharetra. Integer lacinia lectus ut orci pharetra, sed imperdiet nulla porta.
          Donec ultrices lectus nec sapien consectetur, et efficitur nibh scelerisque. Duis tincidunt felis in mollis
          congue. Nullam est ante, dictum eget egestas id, vehicula et magna. Morbi tristique condimentum nibh sit amet
          tincidunt. Curabitur in sem arcu. Curabitur ac interdum enim.
        </span>
      </div>
      <div class="col-12 col-md-6 image-container">
        <img src="/assets/images/professional.png">
      </div>
    </div>


  </div>

</div>
