<div class="product-card" #productCard>
  <div class="inner">
    <div class="card-top">
      <a class="name" href="#">{{ product.name }}</a>
    </div>

    <div class="card-center">
      <span class="brand">{{ product.brand.name }}</span>
      <a [routerLink]="['/product', product.title]">
        <ng-container *ngIf="product.images.length > 0; then image; else noImage"></ng-container>
      </a>
    </div>

    <div class="card-bottom">
      <div class="row">
        <span class="price">&euro;{{ product.priceWithoutVat }}</span>
        <span class="vat">BTW {{ product.vat }}%</span>
      </div>

      <span class="price-vat">&euro;{{ product.price }}</span>

      <div class="add-to-cart">
        <button (click)="onClickAddToCart()">In winkelmandje</button>
      </div>
    </div>
  </div>
</div>

<ng-template #image>
  <img src="{{ api }}{{ product.images[0].imageName }}" alt="">
</ng-template>

<ng-template #noImage>
  <img src="/assets/images/notfound.png" alt="">
</ng-template>
