<div class="product-card" #productCard>
  <div class="inner">
    <div class="card-top">
      <a class="name" href="#">{{ product.name }}</a>
    </div>

    <div class="card-center">
      <span class="brand">{{ product.brand.name }}</span>
      <a href="#">
        <img src="https://servermall.ru/upload/resize_cache/iblock/3c4/720_480_1/Dell_R230_hdd_4.png" alt="">
      </a>
    </div>

    <div class="card-bottom">
      <div class="row">
        <span class="price">&euro;{{ product.priceWithoutVat }}</span>
        <span class="vat">BTW {{ product.vat }}%</span>
      </div>

      <span class="price-vat">&euro;{{ product.price }}</span>

      <div class="add-to-cart">
        <button (click)="onClickAddToCart()">In winkelmandje</button>
      </div>
    </div>
  </div>
</div>
