<div class="container">
  <div class="row m-0">
    <app-banner [title]="product.brand?.name"></app-banner>
  </div>

  <div class="row m-0">
    <h3>{{ product.name }}</h3>
  </div>

  <div class="row w-100 image-container">
    <app-product-image [image]="image" *ngFor="let image of product.images"></app-product-image>
  </div>

  <div class="row w-100 m-0">

    <div class="col-6 col-md-6 description-container">
      <div class="inner">
        <h5>Beschrijving</h5>
        <span class="description">{{ product.description }}</span>
      </div>
    </div>

    <div class="col-12 col-md-6 price-container">
      <div class="inner">
        <h5>Prijs</h5>
        <span class="price-without-vat">{{ product.priceWithoutVat | currency: '&euro;' }} excl.</span>
        <span class="vat">BTW {{ product.vat }}%</span>
        <span class="price">{{ product.price | currency: '&euro;' }}</span>
      </div>
    </div>

  </div>

</div>
