
.description-container {
  padding: 0;
}

.price-container {
  padding: 0;
}

.inner {
  padding: 20px;
  width: 100%;
  margin-bottom: 10px;
  background-color: var(--fill-colour);
  border: 1px solid #d7e5f4;

  .description {
    white-space: pre-wrap;
  }

  .price-without-vat,
  .vat {
    display: block;
    color: lighten(#000, 50);
  }

  .price {
    display: block;
  }
}


.add-to-cart {

  button {
    background-color: var(--accent-colour);
    border: none;
    display: block;
    color: var(--fill-colour);
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 50px;
    cursor: pointer;

    border-bottom: 2px solid #0090F8;

    -webkit-transition: background-color 100ms ease-in-out, border 100ms ease-in-out;
    -moz-transition: background-color 100ms ease-in-out, border 100ms ease-in-out;
    -ms-transition: background-color 100ms ease-in-out, border 100ms ease-in-out;
    -o-transition: background-color 100ms ease-in-out, border 100ms ease-in-out;
    transition: background-color 100ms ease-in-out, border 100ms ease-in-out;

    &:hover {
      background-color: darken(#0090F8, 15);
      border-bottom: 2px solid darken(#0090F8, 25);
    }
  }
}
